@page
@model CustomerCarePortalLab.Pages.Tickets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Allocated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Allocated)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ticket.TicketID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
