@page
@model CustomerCarePortalLab.Pages.Agents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].TeamManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].DepartmentHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].OrganizationHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].TicketID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AgentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AgentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AgentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
